* {
  margin: 0;
  padding: 0;
}

/* Layout attached to main tag, to split the screen the way I'd like */
main {
  display: flex;
  flex-direction: row;
}
.decoBanner {
  display: block;
  justify-content: center;
  margin-top: 60px;
  width: 30vw;
  height: 100vh;
  /* Comment below is kept there to have an overview of the base colors I want */
  /* background-image: linear-gradient(
    to right indigo,
    to left blueviolet,
    to right blue,
    to left aqua,
    to right lawngreen,
    to left green,
    to right greenyellow,
    to left yellow,
    to right orange,
    to left red,
    to right crimson,
    to left magenta
  ); */
  background-image: linear-gradient(45deg indigo, blueviolet, blue);
  /* background-image: linear-gradient(to bottom right blue, aqua, lawngreen); */
  text-align: center;
}

img {
  display: flex;
  width: 100%;
  overflow: hidden;
}
.pfpBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 230px;
  border-radius: 50%;
  overflow: hidden;
  margin: 70px;
  /* text-align: center; */
}

.myStats {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 50px;
  max-width: 70vw;
  min-width: 68vw;
  overflow: hidden;
  margin-left: 45px;
  margin-right: 35px;
  gap: 35px;
}
