* {
  margin: 0;
  padding: 0;
}

/* Layout attached to main tag, to split the screen the way I'd like */
main {
  display: flex;
  flex-direction: row;
  background-color: #f2f7fc;
}
.decoBanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  height: 100vh;
  /* Comment below is kept there to have an overview of the base colors I want */
  /* background-image: linear-gradient(
    to right indigo,
    to left blueviolet,
    to right blue,
    to left aqua,
    to right lawngreen,
    to left green,
    to right greenyellow,
    to left yellow,
    to right orange,
    to left red,
    to right crimson,
    to left magenta
  ); */
  background-image: linear-gradient(
    to bottom left,
    indigo,
    blueviolet,
    blue,
    #039003,
    greenyellow,
    yellow,
    orange,
    red,
    crimson,
    magenta
  );
  /* Linear Gradient above this comment is a placeholder until I can get the effect I want working, note search 
  multi direction flow for linear gradient and also check https://csshero.org/mesher/ which is likely the simplest solution */
  gap: 20px;
  text-align: left;
}

img {
  display: flex;
  width: 100%;
}
.pfpBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  overflow: hidden;
  margin: 60px;
  margin-top: 80px;
  /* text-align: center; */
}

.textFix {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 20px;
  margin-left: 20px;
}

.boldT {
  font-weight: bold;
}

.myStats {
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: aliceblue;
  margin-top: 50px;
  max-width: 70vw;
  min-width: 68vw;
  overflow: hidden;
  margin-left: 65px;
  margin-right: 250px;
  padding: 20px;
  gap: 35px;
}

/* flow utility added to div with text in section/myStats to better restrict the space availible for the text */
.flowUt {
  margin-left: 20px;
  margin-right: 220px;
}

.funfactBox {
  width: 40vw;
  margin-top: 40px;
  font-style: italic;
}
